permissions:
  contents: read
  checks: write
on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:
# If new code is pushed to a PR branch, then cancel in progress workflows for that PR. Ensures that
# we don't waste CI time, and returns results quicker https://github.com/jonhoo/rust-ci-conf/pull/5
#concurrency:
#  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
#  cancel-in-progress: true
name: check
jobs:
  checker:
    name: Rust Checks
    uses: carteramesh/ci/.github/workflows/rust-check.yml@main
    secrets: inherit
